.squat_info {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
  }
  
  .status {
    font-size: 2rem;
    margin-bottom: 10px;
    transition: color 0.3s ease;
  }
  
  .status.up {
    color: limegreen;
  }
  
  .status.down {
    color: orange;
  }
  
  .count {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .score {
    font-size: 1.5rem;
  }
  
  @media (max-width: 600px) {
    .squat_info {
      width: 150px;
      padding: 10px;
    }
  
    .status {
      font-size: 1.5rem;
    }
  
    .count, .score {
      font-size: 1.2rem;
    }
  }
  
  .pose-estimation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-image: url('assets/kholat.jpg'); /* Add your background image */
    background-size: cover; /* Ensure the background covers the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
  }
  
  .pose-estimation {
    flex: 2; /* Make the pose estimation area larger */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .pose-estimation canvas {
    width: 55%; /* Ensure the canvas fills the area */
    /* height: auto; Maintain aspect ratio */
  }
  
  .pose-estimation video {
    display: block;
  }
  
  .video-guidance {
    position: absolute;
    top: 100px;
    left: 10px;
    margin: 10px;
    max-width: 300px;
    max-height: 400px;
  }

  @keyframes pop-up {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .squat_info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .status.up {
    color: green;
  }
  
  .status.down {
    color: red;
  }

  .score {
    animation: pop-up 0.5s ease-in-out;
    font-size: 2em; /* Increase the font size for visibility */
    text-align: center;
    margin-top: 10px;
  }